.Bricks{
    font-size: 70px;
    text-align: center;
    color: #ff926b;
}
.registerLink{
    color: blue;
    margin-top: 10px;
    font-size: 14px;
}
.buttonConfirm{
    margin-top: 8px;
}

.body{
    text-align: center;
    }

.textFiels_place{
   flex: 3;
   margin-top: 20px;
 
}


////////////////////
  
  .sp:hover{
    color:#ffc38b;
  }
  
  span .sp{
    border: 1px solid gold;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .redClass{
    color: #ffc38b;
    font-weight: 400;
  }
  
  /* span:hover{
    color: aqua;
  } */
  
  .butt{
    display: flex;
    /* margin: 15px; */
    width: 67px;
    float: right;
    height: 80px;
    text-align: center;
    font-size: large;
    justify-content: center;
  }
  
.sp{
    margin-right: 10px;
}
#inputPlace{
     flex: 3;
    border: 0.5px solid #ccc;
    padding: 8px;
     font-size: 20px ;
    
     border-radius: 10px;
}