.Bricks{
    font-size: 70px;
    text-align: center;
    color: #ff926b;
}
.registerLink{
    color: blue;
    margin-top: 10px;
    font-size: 14px;
}
.buttonConfirm{
    margin-top: 8px;
}

.body{
    text-align: center;
    }

.textFiels_place{
   flex: 3;
   margin-top: 20px;
 
}


  .shadow4{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  }

