.Bricks {
  font-size: 70px;
  text-align: center;
  color: #ff926b;
}
.registerLink {
  color: blue;
  margin-top: 10px;
  font-size: 14px;
}
.buttonConfirm {
  margin-top: 8px;
}

.body {
  text-align: center;
}

.textFiels_place {
  flex: 3;
  margin-top: 20px;
}
.next_Button {
  background-color: #ffc38b;
  width: 250px;
  height: 80px;
  font-size: 30px;
  margin-top: 50px;
  margin: 30px;
}

.divBody {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
