.Bricks{
    font-size: 70px;
    text-align: center;
    color: #ff926b;
}
.registerLink{
    color: blue;
    margin-top: 10px;
    font-size: 14px;
}
.buttonConfirm{
    margin-top: 8px;
}

.body{
    text-align: center;
    }